body{
  background-color: black;
}

#meme-image{
  border: 5px solid white;
  width: 100%;
}

#main-h1{
 text-transform: uppercase;
 font-size: 3rem;
}

#meme-div{
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}